body {
  background-color: rgb(250, 240, 252);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #361e71;
}
header {
  margin-bottom: 30px;
}

form {
  display: flex;
}

.form-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 15px 20px;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.button {
  margin-left: 10px;
  color: white;
  background: #885df1;
  font-size: 16px;
  border: none;
  width: 140px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
  line-height: 2;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  color: #361e71;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hidden {
  display: none;
}

.generating {
  font-size: 16px;
  color: 544787;
  display: block;
  font-weight: bold;
  text-align: center;
}

/* CSS Blink Animation */
.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: #885df1;
}
