body {
  background-color: rgb(250, 240, 252);
  font-family: Helvetica, Arial, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #544787;
}
header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.button {
  margin-left: 10px;
  color: white;
  background: #885df1;
  font-size: 16px;
  border: none;
  width: 140px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
  line-height: 2;

  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: #885df1;
}
